* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section {
  width: 80%;
  margin: 100px auto;
}
.title {
  text-align: center;
  margin-bottom: 50px;
}
.loading {
  text-align: center;
}
.underline {
  width: 7%;
  border-bottom: 2px solid rgb(25, 165, 165);
  margin: 4px auto;
}
.job-info {
  flex: 0 0 88%;
}
.job-info h3 {
  margin-bottom: 15px;
}
.job-info h4 {
  display: inline-block;
  padding: 5px;
  background-color: lightgray;
  margin-bottom: 15px;
}
.job-date {
  margin-bottom: 15px;
}
.job-desc {
  display: flex;
  margin-bottom: 20px;
}

.job-desc .job-icon {
  color: rgb(25, 165, 165);
  margin-right: 30px;
  font-size: 30px;
}
.jobs-center {
  display: flex;
  justify-content: space-between;
}
.jobs-center .btn-container {
  flex: 0 0 8%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn {
  background-color: transparent;
  border: none;
  padding: 3px 15px;
  cursor: pointer;
}
.active-btn {
  border-left: 2px solid rgb(25, 165, 165);
  color: rgb(25, 165, 165);
}